<nav>
    <div class="navbar">
        <a href="/" class="logo-link">
            <img src="/icons/logo.svg" alt="Logo" class="logo">
        </a>
        <ul>
            <li>
                <a href="/api/menu">
                    <img src="/icons/user.svg" alt="Inicio icon">
                    <span>Superhéroes</span>
                </a>
            </li>
            <li>
                <a href="/api/heroes/nuevo">
                    <img src="/icons/plus.svg" alt="Agregar icon">
                    <span>Agregar Superhéroe</span>
                </a>
            </li>
            <!-- <li>
                <a href="/about">
                    <img src="/icons/info.svg" alt="About icon">
                    <span>Acerca de</span>
                </a>
            </li>
            <li>
                <a href="/contact">
                    <img src="/icons/contact.svg" alt="Contact icon">
                    <span>Contacto</span>
                </a>
            </li> -->
        </ul>
    </div>
</nav>